{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/projects_style.css' %}">
</head>
<body>
    <div class="project-container">
        <header class="project-header">
            <h1>Recently uploaded projects</h1>
            {% if not user.is_authenticated %}
            <h2 class="project-disclaimer">Login to access more content</h2>
            {% endif %}
            <form method="GET" action="{% url 'home' %}" class="search-form">
                <input type="text" name="q" placeholder="Search projects..." value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </header>
        {% if projects %}
            {% load tz %}
            {% for project in projects %}
                <div class="project-content">
                    <div class="project-card">
                    {% if not user.is_authenticated %}
                        <h2 class="project-card-title not-authenticated">{{ project.name }}</h2>
                    {% else %}
                        <h2 class="project-card-title authenticated" onclick="redirectToDetailPage({{ project.id }})">{{ project.name }}</h2>
                    {% endif %}
                        <div class="project-metadata">
                            <p class="project-id">№ {{ project.id }}</p>
                            <p class="project-upload-date">
                                {{ project.district }} • {% timezone "Europe/Kiev" %}{{ project.pub_date }}{% endtimezone %}
                            </p>
                        </div>
                        <div class="project-card-text-container">
                            <p class="project-card-text">{{ project.description }}</p>
                            {% if project.description|length > 700 %}
                                <button class="show-more-btn">Show more</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if projects.has_previous %}
                        <a href="?page=1&q={{ query }}">&laquo; First</a>
                        <a href="?page={{ projects.previous_page_number }}&q={{ query }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ projects.number }} of {{ projects.paginator.num_pages }}
                    </span>

                    {% if projects.has_next %}
                        <a href="?page={{ projects.next_page_number }}&q={{ query }}">Next</a>
                        <a href="?page={{ projects.paginator.num_pages }}&q={{ query }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <div class="no-projects">No projects found :(</div>
        {% endif %}
    </div>
    <script src="{% static 'js/project_redirect.js' %}"></script>
    <script src="{% static 'js/projects_description.js' %}"></script>
</body>
</html>
{% endblock %}
